
body{
  background-image: url(../img/rose.jpeg);
}
li{
  color: white;
}
h1{
  color: green;
}
.rosy{
  margin-right: 200px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 30px;
  float: left;
  border: 30px solid black;
}
